*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.div1, .div2, .div3{
    background-color: aqua;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    margin-right: 20px;
    
}

.div1:hover{
    background-color: red;
    text-align: right;
}

.div2:hover{
    background-color: green;
    text-align: right;
}

.div3:hover{
    background-color: blue;
    text-align: right;
}


.principal{
display:flex;
border-color: black;
margin: 20px;
background-color: blue;
align-items: center
;
}