@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Gveret+Levin&display=swap');

body{
    background-color: lightcoral;
    /* font-family: "Gveret Levin", cursive; */

}
p{
    font-family: "Gveret Levin", cursive;
    font-weight: 400;
    font-style: normal;
}